* {
  margin: 0;
  padding: 0;

}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;

}



h1 {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-size: 70px;
  line-height: 50px;

}


img {
  width: 30%;
  margin-top: 80px;
  transform: rotate(20deg);

}

.nav {
 width: 100%;
 position: fixed;

}

.nav_left {
  float:left;

}


.nav_right {
  float: right;

}


.container {
  min-height: 100%;
  position: relative;
}


.nav ul li {
  display: inline-block;
  font-variant: small-caps;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;

}


.nav ul li a {
  text-decoration: none;
  color: black;
}



.header {
   padding:10px;
}


.content {
  padding:10px;
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
}


nav {
   position: fixed;
   bottom: 0;
   height: 45px;
   background: #FFF;
   padding-bottom: 11px;
}



.nav ul li {
  display: inline-block;
  font-variant: small-caps;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;

}




/* Tablets */
@media screen and (max-width: 768px) {

  .content {
    max-width: 768px;
  }
  nav {
    text-align: center;
    height: 45px;
  }
  .nav ul li {
    margin: 0 10px;
  }

}

/* Smartphones */
@media screen and (max-width: 640px) {
  nav {
    text-align: center;
    height: 110px;
  }
  .nav_left,
  .nav_right {
    float: none;
  }
  .nav ul li {
    margin: 0 20px;
  }


  h1 {
    text-align: center;

  }
  img {
    width: 30%;
    margin: auto;
    transform: rotate(20deg);
    display: block;
  }

  .content {
    margin-top: 40px;


  }

}
