* {
  margin: 0;
  padding: 0;

}



html, body {
  height: 100%;

}



h1 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 70px;
  line-height: 50px;

}


img {
  width: 30%;
  margin-top: 80px;
  transform: rotate(20deg);

}

.nav {
 width: 100%;


}

.nav_left {
 float:left;

}

.nav_right {
float: right;

}

.nav ul li {
  display: inline-block;
  font-variant: small-caps;
  margin-right: 0px;
  font-family: sans-serif;
  font-size: 50px;
  bottom: 0;

}


.nav ul li a {
  text-decoration: none;
  color: black;


}
